.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filters h3 {
    margin-bottom: -20px;
}
.filters h3 {
    font-weight: 600;
}
.filters h4 {
    font-weight: 400;
}
button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border-radius: 4px;
    border-color: transparent;
    margin: auto 30px;
}
button:hover {
    opacity: 90%;
}
.locations {
    height: 100%;
    width: 25%;
    border-right: 1px solid #DDDDDD;
    margin-left: 5%;
}
.locations .popover {
    display: none;
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD ;
    border-radius: 4px;
    width: 120%;
    margin-left: -20%;
    margin-top: 21.5px;
    text-align: start;
}
.locations:hover .popover {
    display: block;
}
.popover ul, li {
    list-style-type: none;
}
.popover h3 {
    margin: 0;
}
.amenities {
    height: 100%;
    width: 25%;
    margin-left: -5%;
}
.amenities .popover {
    display: none;
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD ;
    border-radius: 4px;
    width: 120%;
    margin-left: -25%;
    margin-top: 21.5px;
    text-align: start;
}
.amenities:hover .popover {
    display: block;
}
